<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>东云管理平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{/layui/layui.all.js}"></script>
    <script></script>
    <style></style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">东云管理平台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/image/user_logo.jpg}" class="layui-nav-img">
                    管理员
                </a>
            </li>
            <li class="layui-nav-item"><a href="">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="layTabPlus" tab_url="/device.html">设备管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="demoTab" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this noclose" lay-id='base_info'>基本信息</li>
            </ul>
            <div class="layui-tab-content" style="padding:0px;">
                <div class="layui-tab-item layui-show">
                    <div class="sysNotice col">
                        <blockquote class="layui-elem-quote title">系统信息</blockquote>
                        <table class="layui-table">
                            <tbody>
                            <tr>
                                <td>运行目录</td>
                                <td class="version" th:text="${user_dir}"></td>
                            </tr>
                            <tr>
                                <td>虚拟机版本</td>
                                <td class="author" th:text="${java_runtime_version}"></td>
                            </tr>
                            <tr>
                                <td>操作系统</td>
                                <td class="author" th:text="${os_name}"></td>
                            </tr>
                            <tr>
                                <td>系统语言</td>
                                <td class="author" th:text="${user_language}"></td>
                            </tr>
                            <tr>
                                <td>文件编码</td>
                                <td class="author" th:text="${file_encoding}"></td>
                            </tr>
                            <tr>
                                <td>总共内存</td>
                                <td class="author" th:text="${total_ram}"></td>
                            </tr>
                            <tr>
                                <td>可用内存</td>
                                <td class="author" th:text="${available_ram}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © dongluhitec.net 东云物联网设备管理
    </div>
</div>
<script>
    var $ = layui.jquery;
    var layer = layui.layer;
    var element = layui.element;
    var util = layui.util;
    var table = layui.table;
</script>
<script th:src="@{/plugin/layTabPlus.js}"></script>
<script>
    layTabPlus.init({
        lay_filter: 'demoTab'
    });
</script>
</body>
</html>